.card {
  max-width: 413px;


}


.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;


}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  


}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 40%;

}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;

}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  line-height: 120%;
  margin: 0;

}

@media screen and (max-width: 627px) {

  .card {
    display: block;
    max-width: 288px;
    justify-self: center;
    
  }
    
  .card__image {
    height: 288px;
    width: 288px;
    display: flex;
    justify-self: center;
    
  }

  .card__content {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    
  }

  .card__title {
    max-width: 235px;
  }
  
}