.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33,33,33,0.4);
}

@media (max-width: 627px) {
  .profile {
    margin-left: 0;
    margin-right: 0;
  }
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;

}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;

}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  max-width: 420px;
  color:#212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.profile__description {
  margin: 0px;
  margin-bottom: 114px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
  max-width: 420px;
  color:#212121B2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.profile__edit-btn {
  font-family:  Poppins, Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  display: flex;
  gap: 8px;
  opacity: 70%;
  
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;

}


.profile__add-btn {
  margin-left: auto;
  background-color: #212121;
  color: #FCF5E5;
  font-family:  Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;

}

.profile__add-btn img {
  height: 12px;
  width: 12px;
  align-items: center;

}

@media screen and (max-width: 660px) { 
  
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;

  }

  .profile__avatar {
    margin-bottom: 12px;
    margin-right: 0;
    height: 80px;
    width: 80px;

  }

  .profile__column {
    text-align: center;
    margin-right: 0;
  }

  .profile__add-btn {
    margin: 0;
    align-self: center;
    height: 52px;
    width: 100%;
  }

  .profile__edit-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

  }

  .profile__name {
    max-width: 288px;
    margin-bottom: 6px;
    font-size: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;

  }

  .card__image {
    height: 288px;
    width: 288px;

  }

}

